// Define global variables for theme colors
$dark-background-color: #242424;
$dark-text-color: rgba(255, 255, 255, 0.87);

$light-background-color: #ffffff;
$light-text-color: #213547;
$hover-link-color: #747bff;
$light-button-bg: #f9f9f9;

:root {
  // Font and typography
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // Color and background
  color-scheme: light dark;
  color: $dark-text-color;
  background-color: $dark-background-color;

  // Performance and rendering
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Reset margins and padding
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
}

// Light mode styles
@media (prefers-color-scheme: light) {
  :root {
    color: $light-text-color;
    background-color: $light-background-color;
  }

  a:hover {
    color: $hover-link-color;
  }

  button {
    background-color: $light-button-bg;
  }
}
