// Define global variables for theme colors
$background-color: #242424;
$text-color: rgba(255, 255, 255, 0.87);
$link-color: #747bff;
:root {
  // Font and typography
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // Color and background
  color-scheme: light dark;
  color: $text-color;
  background-color: $background-color;

  // Performance and rendering
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Reset margins and padding
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  min-height: 100vh;
}